/**********************BASIC*************************/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Change One', sans-serif;
    margin: 15px;
}

h1 {
    text-align: center;
    font-size: 175%
}

div {
    background-color: lightgrey;
    border: 1px solid black;
    width: 100%;
    position: relative;
}

.1, .2 {
        margin-right: 10px;
}

.chicken, .beef, .sushi {
    text-align: center;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    width: 8.33%;
    margin: 0;
    font-size: 125%;
}

.content {
    margin: 10px;
    width: 80%;
}

.chicken {
    background-color: pink;
    color: black;
    position: absolute;
    right: 0;
}

.beef {
    background-color: red;
    color: white;
    position: absolute;
    right: 0;
}

.sushi {
    background-color: #FFFACD;
    color: black;
    position: absolute;
    right: 0;
}

/**********************DESKTOP*************************/

@media (min-width: 992px) {

    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }

    .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 32.95%;
    }
    .col-lg-5 {
      width: 41.66%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-7 {
      width: 58.33%;
    }
    .col-lg-8 {
      width: 66.66%;
    }
    .col-lg-9 {
      width: 74.99%;
    }
    .col-lg-10 {
      width: 83.33%;
    }
    .col-lg-11 {
      width: 91.66%;
    }
    .col-lg-12 {
      width: 100%;
    }

}

/**********************TABLET*************************/
@media (min-width: 768px) and (max-width: 991px) {

    #chicken {
        float: left;
        width: 50%
    }

    #beef {
        float: left;
        width: 50%
    }

    #sushi {
        float: left;
        width: 100%
    }

}

/**********************MOBILE*************************/
@media (max-width: 767px) {

    #chicken {
        width: 100%
    }

    #beef {
        width: 100%
    }

    #sushi {
        width: 100%
    }

}
